<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>
<div align="center" class="border">
    <div class="header">
    <h1 class="word">login</h1>
    </div>
    <h2 class="word">
    </h2>
    <form action="/login" method="POST">
    <div class="msg">{{msg}}</div>
    <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox"/> </br></br>
    <input id="password" name="password" type="password" placeholder="Enter your password" class="textbox"/> </br></br> 
    <input type="submit" value="Sign In" class="btn"/></form></br></br>
    </form>
    <p class="bottom"> Don't have an account?</p>
    <a class="bottom" href="/register">Sign up here</a></p>
    </div>
    </div>
     
</html>